<div class="nav d-flex " >

    <div class="logo  d-flex">
     
    

    <h3 style="margin-top:45px;  font-family:Georgia, 'Times New Roman', Times, serif ;font-size: 25px;"  >shopKarna</h3>
    </div>
   

  
  

 
 <section id="home">


    

    <button class="btn" (click)="travelToRegister()">Get Started</button>






</section>

<br>
<br>




<div class="travel_btn_section  container text-center d-flex justify-content-evenly">

  <button class="btn btn-warning" (click)="travelToRegister()">Register</button>
  <button class="btn btn-warning" (click)="travelToLogin()">login</button>
  

</div>