<div class="nav d-flex " >

    <div class="logo  d-flex">
     
    

    <h3 style="margin-top:45px">shopKarna</h3>
    </div>
   

  
  

  
 </div>

 <div class="main_section">
     <div class="row">
         <div class="col-3 col-sm-2 sidebar">
             <br>
            <hr style="width:100%">
            <br>
            
            <br>
           <h4 style="text-decoration: underline;">All Services</h4>
        
           <button class="btn" style="width: 90%;" (click)="travelToProducts()">Products</button>
           <button class="btn" style="width: 90%;">About Us</button>
           <button class="btn" style="width: 90%;">Contact</button>
           <button class="btn" style="width: 90%;" (click)="logout()">Logout</button>

         </div>


   

         <br>
         


 <div class="col-9 col-sm-10 main_section" >
           
    <div class="container" >

        <br>

        <div class="gifs d-flex flex-wrap">

      <img src="https://media.tenor.com/images/c9810dbe91015836afff03944b6f8a95/tenor.gif">
      
      <img src="https://media1.tenor.com/images/eeaf240c4e9b96aebf5eb53a5b26af12/tenor.gif?itemid=20472759">
  
      <img src=" https://media.tenor.com/images/0dc3fb46c8472d7b9b071faa850d378b/tenor.gif">
    </div>

        <br>
        <br>

        <h3 style="text-decoration: underline; font-size: 25px; font-family: Georgia, 'Times New Roman', Times, serif;"> &nbsp;  &nbsp;  Trending Products</h3>

        <br>
        <div class="prod d-flex flex-wrap justify-content-evenly">
        <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZHVjdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Product 1">
        <img src="https://images.unsplash.com/photo-1572635196237-14b3f281503f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZHVjdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Product Image">
        <img src="https://images.unsplash.com/photo-1524805444758-089113d48a6d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHByb2R1Y3R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Product Image">

        <img src="https://images.unsplash.com/photo-1566492625401-af879a7559f0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fHByb2R1Y3R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Product Image">

        <img src="https://images.unsplash.com/photo-1521001750463-5f3e18f2da2d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHxwcm9kdWN0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Product Image">

        <img src="https://images.unsplash.com/photo-1562157873-818bc0726f68?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2xvdGhlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Product Image">



        </div>

     

    </div>


    <br>
   <div class="container">
     <h4></h4>
     <div class="indProd d-flex justify-content-evenly">
        
     
     </div>
     <br>
    

    

     </div>
           
  </div>





     </div>
     



 </div>

 


 <div class="info_area" style="background-image:linear-gradient(lightslategray,white)">
    <div class="container info_area_con d-flex justify-content-evenly">
         
          <ul class="info_list" style="list-style-type: none;">
              <li><img  style ="width: 80px; height: 80px;" src="../../../assets/images/shopify.png"></li>
              <li>2600 Rose Hill St # 100<br>
                Boise, ID 83705</li>
                <br>
                <li>P: (208) 345-1386</li>
                    <li>E: office@yourshpify.com</li>
          </ul>
          <br>

        
          <p class="info_area_txt ser">
            <span style="color:rgb(70, 67, 66) ;font-weight: bold">Social Media </span><br>
                    <a href="#" style="text-decoration: none; color:rgb(70, 67, 66) ;">Twitter</a><br>
                  <a href="#" style="text-decoration: none; color:rgb(70, 67, 66) ;">Facebook</a><br>
                  <a href="#" style="text-decoration: none; color:rgb(70, 67, 66) ;">Instagram</a><br>
                  <a href="#" style="text-decoration: none; color:rgb(70, 67, 66) ;" >Snapchat</a><br>
                  
        </p>
        <p class="info_area_txt lin">
            <span style="font-weight: bold; color:rgb(70, 67, 66) ;">HELPFUL LINKS</span><br>
            <a href="#" style="text-decoration: none; color:rgb(70, 67, 66) ;">Home</a><br>
            <a href="#" style="text-decoration: none; color:rgb(70, 67, 66) ;">Contact us</a><br>
            <a href="#" style="text-decoration: none; color:rgb(70, 67, 66) ;">Custome Review</a><br>
            <a href="#"  style="text-decoration: none; color:rgb(70, 67, 66) ;">Our Blog</a><br>
           
            <br>

            
        </p>
          
        
    </div>
</div>